
/*******************************************************************************
 *
 *      Product           : Mercedes.io
 *      Developer         : Marcelo Bossle
 *      ServiceModulePart : Portal
 *      File              : Header content in navbar standard layout
 *
 ******************************************************************************/

 .navbar {
  width: $page-max-width;
  height: 75px;
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px;
  padding: 10px 35px 10px 25px;

}

.navbar li{
  display: flex;
  color: #fff;
}

.navbar li:first-child {
  display: table;
  clear: both;
  position: relative;
  color: #fff;
  width: 220px;;
}
