/*******************************************************************************
 *
 *      Product           : Mercedes.io
 *      Developer         : Marcelo Bossle
 *      ServiceModulePart : Portal
 *      File              : Header Content Styles scss
 *
 ******************************************************************************/

 .logo{
  position: absolute;
  float: left;
  bottom: 0px;
  height: 60px;
}


.mark{
    position: absolute;
    width: 149px;
    bottom: 0px;
    right: 0px;
    float: right;
}
