/*******************************************************************************
 *
 *      Product           : Mercedes.io
 *      Developer         : Marcelo Bossle
 *      ServiceModulePart : Portal
 *      File              : Footer Content Styles scss
 *
 ******************************************************************************/

 .copy {
  width:  $container-width;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px 0px 15px 16px;
  list-style: none;
  font-size: 12px;
  color: #999;

}

.copy li{
  display: flex;
}
