
/*******************************************************************************
 *
 *      Product           : Mercedes.io
 *      Developer         : Marcelo Bossle
 *      ServiceModulePart : Portal
 *      File              : All site variables
 *
 ******************************************************************************/

    $item-width: 280px;
    $item-height: 300px;
    $item-background:     #fff;
    $item-radius:         0;
    $item-border-width:   0;
    $item-border-color:   #fff;
    $page-max-width:      1024px;
    $container-width:     950px; // content == 918px
